.container {
  display: flex;
  align-items: center;
  gap: 50px;
  margin-bottom: 50px;
  margin-top: 150px;
  margin-left: 250px;


}

.image {
  object-fit: cover;
width: 400px;
  height: 50vh;
}

.title {
  margin-bottom: 10px;
}

.desc {
  font-size: 18px;
  color: #999;
}