.container {
  display: flex;
  align-items: center;
}

.item {
  display: flex;
  justify-content: space-between;
}

.paragraps {
  margin-top: 150px;
  margin-left: 50px;
  color: white;
}

.img {
  width: 80%;
  height: 90vh;
  object-fit: contain;
}

.h1 {
  font-size: 2rem;
}

.p {
  margin-bottom: 15px;
  font-size: 1.3rem;
  font-weight: 300;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 60px;
  margin-top: 50px;
  border: 3px solid #feb002;
  border-radius: 4px;
  transition: all 0.3s;
  cursor: pointer;
  background: #1E2635;
  font-size: 1.5em;
  font-weight: 950;
  margin-bottom: 50px;
}

.button:hover {
  background: #feb002;
  color: white;
  font-size: 1.5em;
}
